<ngx-masonry [options]="{gutter: 5}">
    <div ngxMasonryItem>
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h5 class="card-header">New Game</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Start a new game.</p>
                <a routerLink="/create" class="btn btn-primary">Click here!</a>
            </div>
        </div>
    </div>
    <div ngxMasonryItem *ngFor="let game of games$ | async" class="masonry-item">
        <div class="card bg-dark text-white">
            <div class="d-flex justify-content-between">
                <img src="./assets/images/kbc-logo.png" class="card-img-top img-fluid" alt="kbc-logo"
                    style="max-width: 100px;">
                <h5 class="m-3">{{game.name}}</h5>
                <fa-icon class="['fas', 'ellipsis']"></fa-icon>
            </div>
            <div class="card-body">
                <p><sup><i>{{game.description}}</i></sup></p>
                <div class="d-flex justify-content-between">
                    <a routerLink="/create" class="">
                        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    </a>
                    <a [routerLink]="['/show']" [queryParams]="{'id': game.id}">
                        <fa-icon [icon]="['fas', 'play']"></fa-icon>
                    </a>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteGame(game.id)">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ngx-masonry>